<!-- Header -->

<%- include("../partials/headers/team") %>

<div class="overflow">
  <img src="/images/brian/top_banner.png" alt="image" class="top-banner" />
</div>

<%- include("../partials/headers/navbar") %>

<div class="container">

<!-- Welcome Banner -->

  <div class="container-fluid">
    <img src="/images/brian/banner.png" alt="" class="banner" />
  </div>

<!-- Owner Box/Logo -->

  <div class="container-fluid row box-border">
    <div class="col-md-12 left-data brian-team-header">
      <h1 class="team-name">QUARANTINE COWBOYS</h1>
      <h5>Brian Evans, <em>Owner</em></h5>
    </div>
    <div class="col-md-6 left-data">
      <div class="top-bottom-padding">
        <p><strong>Height:</strong> 6'1"</p>
        <p><strong>Weight:</strong> 165 lbs.</p>
        <p><strong>College:</strong> Bradley University</p>
        <p><strong>Favorite Team:</strong> Los Angeles Rams</p>
      </div>
      <div>
        <h6 class="table-title quick-view">
          <span class="brian-table-title-fill">Quick View</span>
        </h6>
      </div>
      <div class="table-responsive">
        <table class="table table-hover standard-stats quick-stats draft-table">
          <thead>
            <tr class="center-data">
              <th>Year</th>
              <th><abbr title="Games Played">GP</abbr></th>
              <th><abbr title="Wins">W</abbr></th>
              <th><abbr title="Losses">L</abbr></th>
              <th><abbr title="Ties">T</abbr></th>
              <th><abbr title="Winning Percentage">Pct.</abbr></th>
              <th><abbr title="Points For">PF</abbr></th>
              <th><abbr title="Points Against">PA</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= stats[0].year[0].year %></td>
              <td class="center-data"><%= stats[0].year[0].oGP %></td>
              <td class="center-data"><%= stats[0].year[0].oW %></td>
              <td class="center-data"><%= stats[0].year[0].oL %></td>
              <td class="center-data"><%= stats[0].year[0].oT %></td>
              <td class="right-data"><%= stats[0].year[0].oPct %></td>
              <td class="right-data"><%= stats[0].year[0].oPF %></td>
              <td class="right-data"><%= stats[0].year[0].oPA %></td>
            </tr>
            <tr class="career-stats">
              <td>Career</td>
              <td class="center-data"><%= stats[0].average.oGP %></td>
              <td class="center-data"><%= stats[0].average.oW %></td>
              <td class="center-data"><%= stats[0].average.oL %></td>
              <td class="center-data"><%= stats[0].average.oT %></td>
              <td class="right-data"><%= stats[0].average.oPct %></td>
              <td class="right-data"><%= stats[0].average.oPF %></td>
              <td class="right-data"><%= stats[0].average.oPA %></td>
            </tr>
            <tr class="career-stats">
              <td>Average</td>
              <td class="center-data"><%= stats[0].total.oGP %></td>
              <td class="center-data"><%= stats[0].total.oW %></td>
              <td class="center-data"><%= stats[0].total.oL %></td>
              <td class="center-data"><%= stats[0].total.oT %></td>
              <td class="right-data"><%= stats[0].total.oPct %></td>
              <td class="right-data"><%= stats[0].total.oPF %></td>
              <td class="right-data"><%= stats[0].total.oPA %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 center-logo">
      <img src="/images/brian/logo.png" alt="Silverbacks" class="team-logo" />
    </div>
  </div>

<!-- Schedule -->

  <div class="container-fluid">
    <img src="/images/brian/schedule.png" alt="2020 Schedule" class="banner" />
  </div>

<!-- Statistics -->

<div class="section-title">
  <h2 class="underline">Statistics</h2>
</div>

<div class="container-fluid">
  <h6 class="table-title">
    <span class="brian-table-title-fill">Overall</span>
  </h6>
  <div class="table-responsive">
    <table class="table table-hover standard-stats draft-table">
      <thead>
        <tr>
          <th>Year</th>
          <th><abbr title="Games Played">GP</abbr></th>
          <th><abbr title="Wins">W</abbr></th>
          <th><abbr title="Losses">L</abbr></th>
          <th><abbr title="Ties">T</abbr></th>
          <th><abbr title="Winning Percentage">Pct.</abbr></th>
          <th><abbr title="Season Finish">Fin</abbr></th>
          <th><abbr title="Transactions">Txn</abbr></th>
          <th><abbr title="Trades">Trd</abbr></th>
          <th><abbr title="Points For">PF</abbr></th>
          <th><abbr title="Points Against">PA</abbr></th>
          <th><abbr title="Point Spread">PS</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-data"><%= stats[0].year[0].year %></td>
          <td class="center-data"><%= stats[0].year[0].oGP %></td>
          <td class="center-data"><%= stats[0].year[0].oW %></td>
          <td class="center-data"><%= stats[0].year[0].oL %></td>
          <td class="center-data"><%= stats[0].year[0].oT %></td>
          <td class="right-data"><%= stats[0].year[0].oPct %></td>
          <td><%= stats[0].year[0].oFin %></td>
          <td><%= stats[0].year[0].txn %></td>
          <td><%= stats[0].year[0].trd %></td>
          <td class="right-data"><%= stats[0].year[0].oPF %></td>
          <td class="right-data"><%= stats[0].year[0].oPA %></td>
          <td class="right-data"><%= stats[0].year[0].oPS %></td>
        </tr>
        <tr class="average-stats">
          <td class="left-data">Season Avg</td>
          <td class="center-data"><%= stats[0].average.oGP %></td>
          <td class="center-data"><%= stats[0].average.oW %></td>
          <td class="center-data"><%= stats[0].average.oL %></td>
          <td class="center-data"><%= stats[0].average.oT %></td>
          <td class="right-data"><%= stats[0].average.oPct %></td>
          <td><%= stats[0].average.oFin %></td>
          <td><%= stats[0].average.txn %></td>
          <td><%= stats[0].average.trd %></td>
          <td class="right-data"><%= stats[0].average.oPF %></td>
          <td class="right-data"><%= stats[0].average.oPA %></td>
          <td class="right-data"><%= stats[0].average.oPS %></td>
        </tr>
        <tr class="career-stats">
          <td class="left-data">Total</td>
          <td class="center-data"><%= stats[0].total.oGP %></td>
          <td class="center-data"><%= stats[0].total.oW %></td>
          <td class="center-data"><%= stats[0].total.oL %></td>
          <td class="center-data"><%= stats[0].total.oT %></td>
          <td class="right-data"><%= stats[0].total.oPct %></td>
          <td><%= stats[0].total.oFin %></td>
          <td><%= stats[0].total.txn %></td>
          <td><%= stats[0].total.trd %></td>
          <td class="right-data"><%= stats[0].total.oPF %></td>
          <td class="right-data"><%= stats[0].total.oPA %></td>
          <td class="right-data"><%= stats[0].total.oPS %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <h6 class="table-title">
    <span class="brian-table-title-fill">Advanced</span>
  </h6>
  <div class="table-responsive">
    <table class="table table-hover standard-stats draft-table">
      <thead>
        <tr>
          <th>Year</th>
          <th><abbr title="ASMC Power Ranking">APR</abbr></th>
          <th><abbr title="Adjusted ASMC Power Ranking">APR+</abbr></th>
          <th><abbr title="Legacy Score">LS</abbr></th>
          <th><abbr title="Expected Wins">ExW</abbr></th>
          <th><abbr title="Expected Losses">ExL</abbr></th>
          <th><abbr title="Expected Winning Percentage">ExP</abbr></th>
          <th><abbr title="Maximum Points For">MPF</abbr></th>
          <th><abbr title="Maximum Points Differential">MPD</abbr></th>
          <th><abbr title="Maximum Points Differential Per Game">MPD/G</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-data"><%= stats[0].year[0].year %></td>
          <td class="right-data"><%= stats[0].year[0].apr %></td>
          <td><%= stats[0].year[0].aprp %></td>
          <td><%= stats[0].year[0].leg %></td>
          <td><%= stats[0].year[0].xW %></td>
          <td><%= stats[0].year[0].xL %></td>
          <td class="right-data"><%= stats[0].year[0].xPct %></td>
          <td><%= stats[0].year[0].mpf %></td>
          <td><%= stats[0].year[0].mpd %></td>
          <td><%= stats[0].year[0].mpdg %></td>
        </tr>
        <tr class="average-stats">
          <td class="left-data">Season Avg</td>
          <td class="right-data"><%= stats[0].average.apr %></td>
          <td><%= stats[0].average.aprp %></td>
          <td><%= stats[0].average.leg %></td>
          <td><%= stats[0].average.xW %></td>
          <td><%= stats[0].average.xL %></td>
          <td class="right-data"><%= stats[0].average.xPct %></td>
          <td><%= stats[0].average.mpf %></td>
          <td><%= stats[0].average.mpd %></td>
          <td><%= stats[0].average.mpdg %></td>
        </tr>
        <tr class="career-stats">
          <td class="left-data">Total</td>
          <td class="right-data"><%= stats[0].total.apr %></td>
          <td><%= stats[0].total.aprp %></td>
          <td><%= stats[0].total.leg %></td>
          <td><%= stats[0].total.xW %></td>
          <td><%= stats[0].total.xL %></td>
          <td class="right-data"><%= stats[0].total.xPct %></td>
          <td><%= stats[0].total.mpf %></td>
          <td><%= stats[0].total.mpd %></td>
          <td><%= stats[0].total.mpdg %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <h6 class="table-title">
    <span class="brian-table-title-fill">Regular Season</span>
  </h6>
  <div class="table-responsive">
    <table class="table table-hover standard-stats draft-table">
      <thead>
        <tr>
          <th>Year</th>
          <th><abbr title="Games Played">GP</abbr></th>
          <th><abbr title="Wins">W</abbr></th>
          <th><abbr title="Losses">L</abbr></th>
          <th><abbr title="Ties">T</abbr></th>
          <th><abbr title="Winning Percentage">Pct.</abbr></th>
          <th><abbr title="Season Finish">Fin</abbr></th>
          <th><abbr title="Transactions">Txn</abbr></th>
          <th><abbr title="Trades">Trd</abbr></th>
          <th><abbr title="Points For">PF</abbr></th>
          <th><abbr title="Points Against">PA</abbr></th>
          <th><abbr title="Point Spread">PS</abbr></th>
          <th><abbr title="Single Game High">Game Hi</abbr></th>
          <th><abbr title="Single Game Low">Game Lo</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-data"><%= stats[0].year[0].year %></td>
          <td class="center-data"><%= stats[0].year[0].rGP %></td>
          <td class="center-data"><%= stats[0].year[0].rW %></td>
          <td class="center-data"><%= stats[0].year[0].rL %></td>
          <td class="center-data"><%= stats[0].year[0].rT %></td>
          <td class="right-data"><%= stats[0].year[0].rPct %></td>
          <td><%= stats[0].year[0].rFin %></td>
          <td><%= stats[0].year[0].txn %></td>
          <td><%= stats[0].year[0].trd %></td>
          <td class="right-data"><%= stats[0].year[0].rPF %></td>
          <td class="right-data"><%= stats[0].year[0].rPA %></td>
          <td class="right-data"><%= stats[0].year[0].rPS %></td>
          <td class="right-data"><%= stats[0].year[0].gameHi %></td>
          <td class="right-data"><%= stats[0].year[0].gameLo %></td>
        </tr>
        <tr class="average-stats">
          <td class="left-data">Season Avg</td>
          <td class="center-data"><%= stats[0].average.rGP %></td>
          <td class="center-data"><%= stats[0].average.rW %></td>
          <td class="center-data"><%= stats[0].average.rL %></td>
          <td class="center-data"><%= stats[0].average.rT %></td>
          <td class="right-data"><%= stats[0].average.rPct %></td>
          <td><%= stats[0].average.rFin %></td>
          <td><%= stats[0].average.txn %></td>
          <td><%= stats[0].average.trd %></td>
          <td class="right-data"><%= stats[0].average.rPF %></td>
          <td class="right-data"><%= stats[0].average.rPA %></td>
          <td class="right-data"><%= stats[0].average.rPS %></td>
          <td class="right-data"><%= stats[0].average.gameHi %></td>
          <td class="right-data"><%= stats[0].average.gameLo %></td>
        </tr>
        <tr class="career-stats">
          <td class="left-data">Total</td>
          <td class="center-data"><%= stats[0].total.rGP %></td>
          <td class="center-data"><%= stats[0].total.rW %></td>
          <td class="center-data"><%= stats[0].total.rL %></td>
          <td class="center-data"><%= stats[0].total.rT %></td>
          <td class="right-data"><%= stats[0].total.rPct %></td>
          <td><%= stats[0].total.rFin %></td>
          <td><%= stats[0].total.txn %></td>
          <td><%= stats[0].total.trd %></td>
          <td class="right-data"><%= stats[0].total.rPF %></td>
          <td class="right-data"><%= stats[0].total.rPA %></td>
          <td class="right-data"><%= stats[0].total.rPS %></td>
          <td class="right-data"><%= stats[0].total.gameHi %></td>
          <td class="right-data"><%= stats[0].total.gameLo %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <h6 class="table-title">
    <span class="brian-table-title-fill">Playoffs</span>
  </h6>
  <div class="table-responsive">
    <table class="table table-hover standard-stats draft-table">
      <thead>
        <tr>
          <th>Year</th>
          <th><abbr title="Playoff Appearances">App</abbr></th>
          <th><abbr title="First Round Byes">Bye</abbr></th>
          <th><abbr title="Games Played">GP</abbr></th>
          <th><abbr title="Wins">W</abbr></th>
          <th><abbr title="Losses">L</abbr></th>
          <th><abbr title="Winning Percentage">Pct.</abbr></th>
          <th><abbr title="Points For">PF</abbr></th>
          <th><abbr title="Points Against">PA</abbr></th>
          <th><abbr title="Points Spread">PS</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-data"><%= stats[0].year[0].year %></td>
          <td><%= stats[0].year[0].pApp %></td>
          <td class="left-data"><%= stats[0].year[0].pBye %></td>
          <td class="center-data"><%= stats[0].year[0].pGP %></td>
          <td class="center-data"><%= stats[0].year[0].pW %></td>
          <td class="center-data"><%= stats[0].year[0].pL %></td>
          <td class="right-data"><%= stats[0].year[0].pPct %></td>
          <td class="right-data"><%= stats[0].year[0].pPF %></td>
          <td class="right-data"><%= stats[0].year[0].pPA %></td>
          <td class="right-data"><%= stats[0].year[0].pPS %></td>
        </tr>
        <tr class="average-stats">
          <td class="left-data">Season Avg</td>
          <td colspan="2"></td>
          <td class="center-data"><%= stats[0].average.pGP %></td>
          <td class="center-data"><%= stats[0].average.pW %></td>
          <td class="center-data"><%= stats[0].average.pL %></td>
          <td class="right-data"><%= stats[0].average.pPct %></td>
          <td class="right-data"><%= stats[0].average.pPF %></td>
          <td class="right-data"><%= stats[0].average.pPA %></td>
          <td class="right-data"><%= stats[0].average.pPS %></td>
        </tr>
        <tr class="career-stats">
          <td class="left-data">Total</td>
          <td><%= stats[0].total.pApp %></td>
          <td class="left-data"><%= stats[0].total.pBye %></td>
          <td class="center-data"><%= stats[0].total.pGP %></td>
          <td class="center-data"><%= stats[0].total.pW %></td>
          <td class="center-data"><%= stats[0].total.pL %></td>
          <td class="right-data"><%= stats[0].total.pPct %></td>
          <td class="right-data"><%= stats[0].total.pPF %></td>
          <td class="right-data"><%= stats[0].total.pPA %></td>
          <td class="right-data"><%= stats[0].total.pPS %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <h6 class="table-title">
    <span class="brian-table-title-fill">Championships</span>
  </h6>
  <div class="table-responsive">
    <table class="table table-hover standard-stats draft-table">
      <thead>
        <tr>
          <th>Year</th>
          <th><abbr title="Games Played">GP</abbr></th>
          <th><abbr title="Wins">W</abbr></th>
          <th><abbr title="Losses">L</abbr></th>
          <th><abbr title="Winning Percentage">Pct.</abbr></th>
          <th><abbr title="Points For">PF</abbr></th>
          <th><abbr title="Points Against">PA</abbr></th>
          <th><abbr title="Points Spread">PS</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-data"><%= stats[0].year[0].year %></td>
          <td class="center-data"><%= stats[0].year[0].cGP %></td>
          <td class="center-data"><%= stats[0].year[0].cW %></td>
          <td class="center-data"><%= stats[0].year[0].cL %></td>
          <td class="right-data"><%= stats[0].year[0].cPct %></td>
          <td class="right-data"><%= stats[0].year[0].cPF %></td>
          <td class="right-data"><%= stats[0].year[0].cPA %></td>
          <td class="right-data"><%= stats[0].year[0].cPS %></td>
        </tr>
        <tr class="average-stats">
          <td class="left-data">Season Avg</td>
          <td class="center-data"><%= stats[0].average.cGP %></td>
          <td class="center-data"><%= stats[0].average.cW %></td>
          <td class="center-data"><%= stats[0].average.cL %></td>
          <td class="right-data"><%= stats[0].average.cPct %></td>
          <td class="right-data"><%= stats[0].average.cPF %></td>
          <td class="right-data"><%= stats[0].average.cPA %></td>
          <td class="right-data"><%= stats[0].average.cPS %></td>
        </tr>
        <tr class="career-stats">
          <td class="left-data">Total</td>
          <td class="center-data"><%= stats[0].total.cGP %></td>
          <td class="center-data"><%= stats[0].total.cW %></td>
          <td class="center-data"><%= stats[0].total.cL %></td>
          <td class="right-data"><%= stats[0].total.cPct %></td>
          <td class="right-data"><%= stats[0].total.cPF %></td>
          <td class="right-data"><%= stats[0].total.cPA %></td>
          <td class="right-data"><%= stats[0].total.cPS %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

 <div class="container-fluid">
  <h6 class="table-title">
    <span class="brian-table-title-fill">Per Game</span>
  </h6>
  <div class="table-responsive">
    <table class="table table-hover standard-stats draft-table">
      <thead>
        <tr>
          <th></th>            
          <th colspan="3">Regular Season</th>
          <th colspan="3">Playoffs</th>
          <th colspan="3">Championship</th>
        </tr>
        <tr>
          <th>Year</th>
          <th><abbr title="Points For/Game">PF/G</abbr></th>
          <th><abbr title="Points Against/Game">PA/G</abbr></th>
          <th><abbr title="Point Spread/Game">PS/G</abbr></th>
          <th><abbr title="Points For/Game">PF/G</abbr></th>
          <th><abbr title="Points Against/Game">PA/G</abbr></th>
          <th><abbr title="Point Spread/Game">PS/G</abbr></th>
          <th><abbr title="Points For/Game">PF/G</abbr></th>
          <th><abbr title="Points Against/Game">PA/G</abbr></th>
          <th><abbr title="Point Spread/Game">PS/G</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-data"><%= stats[0].year[0].year %></td>
          <td class="right-data"><%= stats[0].year[0].spg %></td>
          <td class="right-data"><%= stats[0].year[0].spa %></td>
          <td class="right-data"><%= stats[0].year[0].sps %></td>
          <td class="right-data"><%= stats[0].year[0].ppg %></td>
          <td class="right-data"><%= stats[0].year[0].ppa %></td>
          <td class="right-data"><%= stats[0].year[0].pps %></td>
          <td class="right-data"><%= stats[0].year[0].cpg %></td>
          <td class="right-data"><%= stats[0].year[0].cpa %></td>
          <td class="right-data"><%= stats[0].year[0].cps %></td>
        </tr>
        <tr class="average-stats">
          <td class="left-data">Season Avg</td>
          <td class="right-data"><%= stats[0].average.spg %></td>
          <td class="right-data"><%= stats[0].average.spa %></td>
          <td class="right-data"><%= stats[0].average.sps %></td>
          <td class="right-data"><%= stats[0].average.ppg %></td>
          <td class="right-data"><%= stats[0].average.ppa %></td>
          <td class="right-data"><%= stats[0].average.pps %></td>
          <td class="right-data"><%= stats[0].average.cpg %></td>
          <td class="right-data"><%= stats[0].average.cpa %></td>
          <td class="right-data"><%= stats[0].average.cps %></td>
        </tr>
        <tr class="career-stats">
          <td class="left-data">Total</td>
          <td class="right-data"><%= stats[0].total.spg %></td>
          <td class="right-data"><%= stats[0].total.spa %></td>
          <td class="right-data"><%= stats[0].total.sps %></td>
          <td class="right-data"><%= stats[0].total.ppg %></td>
          <td class="right-data"><%= stats[0].total.ppa %></td>
          <td class="right-data"><%= stats[0].total.pps %></td>
          <td class="right-data"><%= stats[0].total.cpg %></td>
          <td class="right-data"><%= stats[0].total.cpa %></td>
          <td class="right-data"><%= stats[0].total.cps %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <h6 class="table-title">
    <span class="brian-table-title-fill">Best Ball</span>
  </h6>
  <div class="table-responsive">
    <table class="table table-hover standard-stats draft-table">
      <thead>
        <tr>
          <th></th>            
          <th colspan="3">Actual</th>
          <th colspan="3">Expected</th>
        </tr>
        <tr>
          <th>Year</th>
          <th><abbr title="Actual Wins">Wins</abbr></th>
          <th><abbr title="Actual Losses">Losses</abbr></th>
          <th><abbr title="Actual Win Percentage">Pct</abbr></th>
          <th><abbr title="Expected Wins">Wins</abbr></th>
          <th><abbr title="Expected Losses">Losses</abbr></th>
          <th><abbr title="Expected Win Percentage">Pct</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-align"><%= stats[0].year[0].year %></td>
          <td class=""><%= stats[0].year[0].bbAW %></td>
          <td class=""><%= stats[0].year[0].bbAL %></td>
          <td class="right-data"><%= stats[0].year[0].bbAPct %></td>
          <td class=""><%= stats[0].year[0].bbXW %></td>
          <td class=""><%= stats[0].year[0].bbXL %></td>
          <td class="right-data"><%= stats[0].year[0].bbXPct %></td>
        </tr>
        <tr class="average-stats">
          <td class="left-data">Season Avg</td>
          <td class=""><%= stats[0].average.bbAW %></td>
          <td class=""><%= stats[0].average.bbAL %></td>
          <td class="right-data"><%= stats[0].average.bbAPct %></td>
          <td class=""><%= stats[0].average.bbXW %></td>
          <td class=""><%= stats[0].average.bbXL %></td>
          <td class="right-data"><%= stats[0].average.bbXPct %></td>
        </tr>
        <tr class="career-stats">
          <td class="left-data">Total</td>
          <td class=""><%= stats[0].total.bbAW %></td>
          <td class=""><%= stats[0].total.bbAL %></td>
          <td class="right-data"><%= stats[0].total.bbAPct %></td>
          <td class=""><%= stats[0].total.bbXW %></td>
          <td class=""><%= stats[0].total.bbXL %></td>
          <td class="right-data"><%= stats[0].total.bbXPct %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <h6 class="table-title">
    <span class="brian-table-title-fill">Head-to-Head</span>
  </h6>
  <div class="table-responsive">
    <table class="table table-hover standard-stats draft-table">
      <thead>
        <tr>
          <th></th>
          <th>Caleb</th>
          <th>Cameron</th>
          <th>Dan</th>
          <th>Ethan</th>
          <th>Jacob</th>
          <th>Jorden</th>
          <th>Juice</th>
          <th>Lucas</th>
          <th>Morgan</th>
          <th>Scott</th>
          <th>Shawn</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-data">Season</td>
          <td><%= stats[0].opponent.season.caleb %></td>
          <td><%= stats[0].opponent.season.cameron %></td>
          <td><%= stats[0].opponent.season.dan %></td>
          <td><%= stats[0].opponent.season.ethan %></td>
          <td><%= stats[0].opponent.season.jacob %></td>
          <td><%= stats[0].opponent.season.jorden %></td>
          <td><%= stats[0].opponent.season.juice %></td>
          <td><%= stats[0].opponent.season.lucas %></td>
          <td><%= stats[0].opponent.season.morgan %></td>
          <td><%= stats[0].opponent.season.scott %></td>
          <td><%= stats[0].opponent.season.shawn %></td>
        </tr>
        <tr>
          <td class="left-data">Playoffs</td>
          <td><%= stats[0].opponent.playoffs.caleb %></td>
          <td><%= stats[0].opponent.playoffs.cameron %></td>
          <td><%= stats[0].opponent.playoffs.dan %></td>
          <td><%= stats[0].opponent.playoffs.ethan %></td>
          <td><%= stats[0].opponent.playoffs.jacob %></td>
          <td><%= stats[0].opponent.playoffs.jorden %></td>
          <td><%= stats[0].opponent.playoffs.juice %></td>
          <td><%= stats[0].opponent.playoffs.lucas %></td>
          <td><%= stats[0].opponent.playoffs.morgan %></td>
          <td><%= stats[0].opponent.playoffs.scott %></td>
          <td><%= stats[0].opponent.playoffs.shawn %></td>
        </tr>
        <tr class="career-stats">
          <td>Overall</td>
          <td><%= stats[0].opponent.overall.caleb %></td>
          <td><%= stats[0].opponent.overall.cameron %></td>
          <td><%= stats[0].opponent.overall.dan %></td>
          <td><%= stats[0].opponent.overall.ethan %></td>
          <td><%= stats[0].opponent.overall.jacob %></td>
          <td><%= stats[0].opponent.overall.jorden %></td>
          <td><%= stats[0].opponent.overall.juice %></td>
          <td><%= stats[0].opponent.overall.lucas %></td>
          <td><%= stats[0].opponent.overall.morgan %></td>
          <td><%= stats[0].opponent.overall.scott %></td>
          <td><%= stats[0].opponent.overall.shawn %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Roster -->

<div class="section-title">
  <h2 class="underline">Roster</h2>
</div>

<div class="container-fluid">
  <h5 class="left-data no-padding">Active</h5>
  <div class="table-responsive">
    <table class="table table-hover roster draft-table">
      <thead>
        <tr>
          <th>No.</th>
          <th class="left-data">Player</th>
          <th>Team</th>
          <th class="center-data">Pos</th>
          <th class="center-data">Height</th>
          <th class="center-data">Weight</th>
          <th class="center-data">Age</th>
          <th class="center-data">Years Exp</th>
          <th class="left-data">College</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% teamData[5].players.forEach(function(playerData){ %>
          <td><%= players[playerData].number %></td>
          <td class="left-data"><%= players[playerData].full_name %></td>
          <td class="nfl-logo-pad">
            <img
              src="/images/nfl/<%= players[playerData].team %>.png"
              alt="<%= players[playerData].team %>"
              class="nfl-logo"
            />
          </td>
          <td class="center-data"><%= players[playerData].fantasy_positions %></td>
          <td class="center-data"><%= players[playerData].height %></td>
          <td class="center-data"><%= players[playerData].weight %></td>
          <td class="center-data"><%= players[playerData].age %></td>
          <td class="center-data"><%= players[playerData].years_exp %></td>
          <td class="left-data"><%= players[playerData].college %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<!-- Awards -->

  <div class="section-title">
    <h2 class="underline">Awards</h2>
  </div>

  <div class="container-fluid">
    <div class="row">
    <div class="container-fluid col-md-4 left-data padding-side">
      <h6 class="table-title"><span class="brian-table-title-fill">League Awards</span></h6>
      <div class="table-responsive">
        <table class="table table-hover standard-stats draft-table">
        <thead>
            <tr>
              <th class="center-data">Year</th>
              <th class="left-data">Award</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">League Trophy Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">League Trophy Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">League Trophy Name</td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
      <div class="container-fluid col-md-4 left-data padding-side">
      <h6 class="table-title"><span class="brian-table-title-fill">All-ASMC</span></h6>
      <div class="table-responsive">
        <table class="table table-hover standard-stats draft-table">
        <thead>
            <tr>
              <th class="center-data">Year</th>
              <th class="center-data">Pos</th>
              <th class="left-data">Name</th>
              <th class="center-data">Team</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
              <td class="center-data">3rd</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
              <td class="center-data">3rd</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
              <td class="center-data">3rd</td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
      <div class="container-fluid col-md-4 left-data padding-side">
      <h6 class="table-title"><span class="brian-table-title-fill">Pro Bowl</span></h6>
      <div class="table-responsive">
        <table class="table table-hover standard-stats draft-table">
        <thead>
            <tr>
              <th class="center-data">Year</th>
              <th class="left-data">Pos</th>
              <th class="left-data">Name</th>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
            <tr>
              <td class="center-data">20XX</td>
              <td class="left-data">XX</td>
              <td class="left-data">Player Name</td>
            </tr>
      </table>
      </div>
    </div>
    </div>
  </div>

<!-- Banners -->

  <!-- <div class="section-title">
    <h2 class="underline">Championship Banners</h2>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div>
          <img
            src="/images/brian/champ_banner.png"
            alt="Silverbacks Uniforms"
            class="champ-banner"
          />
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="/images/brian/conference_champ_banner.png"
          alt="Silverbacks Uniforms"
          class="champ-banner"
        />
      </div>
      <div class="col-md-4">
        <img
          src="/images/brian/division_champ_banner.png"
          alt="Silverbacks Uniforms"
          class="champ-banner"
        />
      </div>
    </div>
  </div> -->

<!-- Uniforms -->

    <div class="section-title">
      <h2 class="underline">Uniforms</h2>
    </div>

    <div class="container-fluid">
      <img
        src="/images/brian/jersey_showcase.png"
        alt="Silverbacks Uniforms"
        class="banner"
      />
    </div>

<!-- All-Time Teams -->

    <!-- <div class="section-title">
      <h2 class="underline">All-Time Team</h2>
    </div>

    <div class="container-fluid">
      <img
        src="/images/brian/alltime_team.png"
        alt="Silverbacks All-Time Team"
        class="banner"
      />
    </div> -->

<!-- Favorite Team -->

    <div class="container-fluid">
      <img src="/images/nfl/rams.png" alt="Rams" class="bottom-logo" />
    </div>
  </div>

<!-- Footer -->

  <%- include("../partials/footer") %>

</div>